{{> header }}

{{> navbar }}

    
    <h1></h1> 

    <div class="col-8">
        <img src="" />
    </div>

    <div class="col-4">
        <img src="" class="img-thumbnail" >
    </div>
    

{{> footer }} 